:root {
  font-size: 16px;
  --accent: #905c38;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse-Bold";
  src: local("Norse-Bold"), url("./Norse-Bold.otf") format("opentype");
}
body {
  font-family: sans-serif;
  font-size: 1rem;
}
#container {
  display: flex;
  max-width: 1280px;
}
aside {
  display: flex;
  flex-direction: column;
  background-image: url("./pexels-cindy-bartillon-202386255-18014117.jpg");
  background-size: cover;
  height: 100vh;
  min-width: 30%;
  overflow: auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6a3d23;
  opacity: 0.7;
  margin-top: 10rem;
  padding: 20px;
  font-family: "Norse-Bold";
  font-size: 5rem;
  color: white;
}
.logo img {
  max-width: 100px;
}
.credit {
  margin-top: auto;
  align-self: flex-end;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
.credit a {
  color: white;
}
main {
  min-width: 70%;
  max-width: 600px;
}
main .cta {
  margin-top: 7rem;
  padding: 30px;
  width: 80%;
  font-size: 1.2rem;
  font-weight: 600;
}
.panel {
  box-shadow: 0 -4px 6px -5px rgba(0, 0, 0, 0.1),
    /* Top */ 0 4px 6px -1px rgba(0, 0, 0, 0.2); /* Bottom */
  padding: 40px;
}
.form-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
form label {
  text-transform: uppercase;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}
form input {
  border: 1px solid #e5e7eb;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
.row {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
.row > * {
  flex: 1;
}
button {
  background-color: var(--accent);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 150px;
  cursor: pointer;
}
.have-account {
  margin-top: 20px;
}
.have-account a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}
