* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse-Bold";
  src: local("Norse-Bold"), url("./Norse-Bold.otf") format("opentype");
}
body {
  font-family: sans-serif;
}

aside {
  background-image: url("./pexels-cindy-bartillon-202386255-18014117.jpg");
  background-size: cover;
  height: 100vh;
  width: 30rem;
  overflow: auto;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6a3d23;
  opacity: 0.7;
  margin-top: 10rem;
  padding: 20px;
  font-family: "Norse-Bold";
  font-size: 5rem;
  color: white;
}
.logo img {
  max-width: 100px;
}
.credit {
  margin-top: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
.credit a {
  color: white;
}
